class PrettyLog < Formula
  desc "A fast log prettifier for JSON logs with streaming support"
  homepage "https://github.com/r0rr3/pretty-log"
  version "${VERSION}"
  license "MIT"

  on_macos do
    on_arm do
      url "https://github.com/r0rr3/pretty-log/releases/download/v${VERSION}/pretty-log-aarch64-apple-darwin.tar.gz"
      sha256 "${SHA_ARM_MAC}"
    end
    on_intel do
      url "https://github.com/r0rr3/pretty-log/releases/download/v${VERSION}/pretty-log-x86_64-apple-darwin.tar.gz"
      sha256 "${SHA_X86_MAC}"
    end
  end

  on_linux do
    on_arm do
      url "https://github.com/r0rr3/pretty-log/releases/download/v${VERSION}/pretty-log-aarch64-unknown-linux-gnu.tar.gz"
      sha256 "${SHA_ARM_LNX}"
    end
    on_intel do
      url "https://github.com/r0rr3/pretty-log/releases/download/v${VERSION}/pretty-log-x86_64-unknown-linux-gnu.tar.gz"
      sha256 "${SHA_X86_LNX}"
    end
  end

  def install
    bin.install "pretty"
  end

  test do
    output = shell_output("echo '{\"level\":\"info\",\"msg\":\"hello\"}' | #{bin}/pretty --no-color")
    assert_match "INFO", output
    assert_match "hello", output
  end
end
